<!-- header -->
  <section class="fixed-top-0-left-0-right-0 ">
    <div class="header">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <img class="header-logo navbar-brand" src="/logo/image.png" alt="">
          <form class="form-inline">
            <input class="form-control mr-sm-2 Search-rounded" type="search" placeholder="Search" aria-label="Search">
          </form>
          <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item ml-3">
                <a class="nav-link active nav-txt" aria-current="page" href="/"><b>Home</b></a>
              </li>
              <li class="nav-item ml-3">
                <a class="nav-link active nav-txt" href="/#category"><b>Categories</b></a>
              </li>
              <li class="nav-item ml-3 position-relative">
                <a class="nav-link active nav-txt" href="/cart"><b>Cart</b></a>
                <p id="cart-count" class="cart-count position-absolute text-dark bg-light px-1 rounded-circle font-weight-bold">{{cartCount}}</p>
              </li>
              <li class="nav-item ml-3">
                <a class="nav-link active nav-txt" href="/orders"><b>Orders</b></a>
              </li>
            </ul>
            <div class="nav-item ml-3">
              <a type="button" class="profile-dropdown" data-toggle="dropdown">
                <img class=" profile-dropdown-img"
                  src="https://thumbs.dreamstime.com/b/default-avatar-profile-icon-social-media-user-vector-default-avatar-profile-icon-social-media-user-vector-portrait-176194876.jpg"
                  alt="image">
              </a>
              <div class="dropdown">
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/profile">My Profile</a></li>
                  {{#if user}}
                    <li><a class="dropdown-item" href="/logout">Logout</a></li>
                  {{else}}
                   <li><a class="dropdown-item" href="/login">LogIn</a></li>
                  {{/if}}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </section>