<div class="row">
    <div class="col-md-6">
        <div class="container-login mt-5 ">
            <h1 class="text-center">Create An Account</h1>
            <form action="/signup" method="POST">
                <div class="form-group">
                    <label for="username">Name:</label>
                    <input type="text" id="Name" name="Name" class="form-control" required placeholder="Enter name">
                </div>
                <div class="form-group">
                    <label for="username">Email Address:</label>
                    <input type="email" id="Email" name="Email" class="form-control" required placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="Password" name="Password" class="form-control" required
                        placeholder="Enter password">
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-login btn-block">Signup</button>
                </div>
            </form>
            <p class="text-center">Already have an account? <a href="/login">Login here</a></p>
        </div>
    </div>
</div>