body{
    background: #ffffff;
    min-height: 100vh;
    vertical-align: middle;
}
.cart-items{
    font-weight: bold;
}
.title{
    margin-bottom: 5vh;
}
.card{
    margin: auto;
    max-width: 950px;
    width: 90%;
}
.cart{
    background-color: #fff;
    padding: 4vh 5vh;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
}
@media(max-width:767px){
    .cart{
        padding: 4vh;
        border-bottom-left-radius: unset;
        border-top-right-radius: 1rem;
    }
}
.price-details{
    background-color: #ddd;
    border-radius: 1rem;
    padding: 4vh;
    color: rgb(65, 65, 65);
}
@media(min-width:767px){
    .price-details{
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
    }
}
.price-details .col-2{
    padding: 0;
}
.price-details .col-10
{
    padding: 0;
}.row{
    margin: 0;
}
.title b{
    font-size: 1.5rem;
}
.main{
    margin: 0;
    padding: 2vh 0;
    width: 100%;
}
.col-2, .col{
    padding: 0 1vh;
}
a{
    padding: 0 1vh;
}
.close{
    margin-left: auto;
    font-size: 0.7rem;
}

h5{
    margin-top: 4vh;
}

.btn{
    color: white;
    width: 100%;
    font-size: 0.7rem;
    margin-top: 4vh;
    padding: 1vh;
    border-radius: 0;
}
.btn:focus{
    box-shadow: none;
    outline: none;
    box-shadow: none;
    color: white;
    -webkit-box-shadow: none;
    -webkit-user-select: none;
    transition: none; 
}

a{
    color: black; 
}
a:hover{
    color: black;
    text-decoration: none;
}