.body{
    background: #ffffff;
    min-height: 100vh;
    vertical-align: middle;
}
.Search-rounded {
  border-radius: 12rem;
  height: 30px;
  width: 150px;
    }
.navbar{
  width: 100%;
    background-color: black;
}
.profile-dropdown{
    background-color:transparent;
    text-decoration: none;

}
.profile-dropdown-img{
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    width: 37px;
    border-width: 0;
    vertical-align: bottom;
}
.nav-txt{
    text-decoration: none;
    color: #ffffff;
}

.card-img-top{
    height: 234px;
}

.social-icons {
    font-size: 24px;
    margin-right: 10px;
}

  .header-logo{
    height: 45px;
    width: auto;
}

.fixed-top-0-left-0-right-0 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
}